.eslintignore
.eslintrc
.gitignore
CHANGELOG.md
Dockerfile
heroku.yml
*.http
LICENSE
nodemon.json
README.md

# optionally you may want to ignore the .env file, but that depends on your own implementation
.env